section.hero_section {

    background-color: #EEfAFF;
    background-image: url(/img/background_upper_wave.png);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: 100% 78%;
    margin: 0;
    overflow: hidden;
}



.hero_container {
    padding-top: 12vh;
    padding-left: 5vw;
    width: 100%;
    height: 88vh;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.hero_left_side {
    width: auto;
    padding-top: 13vh;
    padding-left: 2vw;
    position: relative;
}
.hero_left_content {
    width: 40vw;
}

.rectengle-demo {
    width: auto;
    height: auto;
    position: absolute;
}

.rectangle-img2 {
    top: -10vh;
    position: relative;
    left: -20vw;
    width: 19vw;
    height: 62vh;
}


.hero_title span {
    background: linear-gradient(267.36deg, #0099ff, #76c6fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.6vw;
    font-family: '__Plus_Jakarta_Sans_d21556';
    font-weight: bold;
 
}

.hero_title {
   line-height: 9.6vh;
    text-align: left;
    font-size: 4vw;
    width: auto;
    color: black;
    font-weight: 600;
    font-family: '__Plus_Jakarta_Sans_d21556';
    padding-top: 0.1em;
    margin: auto;
}
p.hero-des {
    font-weight: 600;
    font-size: 2.8vh;
    line-height: 4vh;
    font-family: '__Plus_Jakarta_Sans_d21556';
    color: #525252;
    text-align: left;
    width: auto;
    word-spacing: 0.01em;
}


.googleplay-img {
    width: 10vw;
    border-radius: 0.6em;
    height: 10vh;
}


.review-img {
    width: 22vw;
    height: 30vh;
    transform: translateY(-1em);
}

/* right side css */
.right_side {
    width: 55%;
    height: auto;
    position: relative;
}
.hero_right_images {
    position: relative;
}

.hero_right_images img {
    position: absolute;
}

.right-side-img-1 {

    left: 14vw;
    height: 38em;
    top: -21em;
    transform: rotate(188deg);
    width: 81%;
    border-radius: 50%;
    filter: blur(2em);
}



.font-mobile {
    width: 100%;
    height: 83vh;
    position: relative;
    top: 0;
    right: 0;
}

.right-side-img-2 {
    max-width: 63vw;
    object-fit: fill;
    left: -14%;
    width: -webkit-fill-available;
    height: 100%;
    top: 1%;
    z-index: 9;
}
.right-side-img-3 {
    width: 40%;
    right: 0;
    top: 26%;
    height: 56vh;
}



.right-side-img-4 {
    max-width: 24vw;
    left: -1%;
    top: 56%;
    transform: rotate3d(2, 0, 8, 8deg);
    z-index: 1;
    height: 54%;
    object-fit: contain;
    width: -webkit-fill-available;
}
.circle {
    width: 30vw;
    height: 52vh;
    content: "";
    background: linear-gradient(45deg, #1390f161, #1390f13d);
    border-radius: 73%;
    position: absolute;
    top: 17%;
    right: 3em;
    filter: blur(5em);
}




@media (max-width: 886px) {
    .hero_container {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
        padding-left: 0%;
        padding-top: 6em;
    }

    .hero_left_side {
        width: 87%;
        text-align-last: center;
        padding-left: 0.1em;
        height: min-content;
        padding-top: 1.73em;


    }

    .hero_left_content {
        width: 98%;
        text-align-last: center;
    }

    .hero_title span {
        font-size: 3rem;
        font-weight: 800;
        font-family: '__Plus_Jakarta_Sans_d21556';
    }

    .hero_title {
        font-size: 2.6rem;
        padding-bottom: 0.21em;
    }

    p.hero-des {
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 1.4em;
        margin-top: 1.4em;
        font-size: 1.2rem;
        text-align: center;
    }

    section.hero_section {
        background: #EEfAFF;
        overflow: auto;
    }

    

    .googleplay-img {
        width: 21%;
        height: 11vh;
    }

    .hero_button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review-img {
        width: 37vw;
        height: 34vh;
    }
    .hero_right_images {
        width: 100%;
        height: auto;
    }
    
    

    .right_side {
        width: 100%;
        height: auto;
        padding-top: 0%;
    }

    .right-side-img-2 {
        top: 0em;
        max-width: 84vw;
        height: 76vh;
        left: 11%;
        top: -7%;
    }    

    .right-side-img-3 {
        right: 0;
        top: 0em;
        height: 63vh;
        width: 37%;
    }    
    .right-side-img-4 {
        max-width: 37vw;
        height: 43vh;
        left: 15%;
        top: 43%;
        transform: rotateY(0);
        object-fit: fill;
    }
    
    
    .rectangle-img2 {
        display: none;
    }

    .font-mobile {
        width: 100%;
        height: 75vh;
        position: relative;
        top: 0;
        right: 0;
    }
    .circle {
        top: 0em;
        right: 0em;
        width: 61%;
        height: 72%;
    }
    



}



@media (max-width: 642px) {
    
    .googleplay-img {
        width: 21vw;
        height: 11vh;
    }

    .review-img {
        width: 44vw;
        height: 32vh;
    }

    

    .right-side-img-2 {
        top: -1em;
        left: 1em;
        max-width: 97vw;
        height: 82vh;
    }

    .right-side-img-4 {
        left: 4em;
        top: 14em;
        max-width: 42vw;
        height: 43vh;
    }
}

@media (max-width: 537px) {
    .right-side-img-2 {
        left: 0;
        max-width: 99vw;
        height: 81vh;
        object-fit: contain;
    }

    .review-img {
        width: 57vw;
        height: 29vh;
    }

    .googleplay-img {
        width: 35vw;
        height: 11vh;
        object-fit: fill;
    }

    p.hero-des {
        width: 94%;
        padding: 0;
    }

    .hero_title {
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .hero_right_images {
        height: auto;
    }

    .right-side-img-2 {
        left: 0em;
        max-width: 98vw;
        height: 53vh;
        object-fit: fill;
    }

    .right-side-img-4 {
        left: -2em;
        height: 35vh;
        top: 8em;
        max-width: 61vw;
    }



    .right-side-img-3 {
        height: 43vh;
        top: 1em;
        width: 35vw;
    }




}

/* .hero_left_side {
    width: 98%;
} */

@media (max-width: 417px) {

    button.signupBtn {
        font-size: 1.2rem;
        width: 31vw;
        height: 8vh;
    }

    .hero_title {
        width: 97%;
        font-size: 2rem;
        font-weight: 700;
    }

    p.hero-des {
        font-size: 1rem;
        font-weight: 600;
    }

    .review-img {
        width: 74vw;
        height: 27vh;
    }

    .right-side-img-4 {
        left: -2em;
        height: 35vh;
        top: 8em;
        max-width: 61vw;
    }


}